.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.qr{
  width: 400px;
  height: 400px;
  margin-left: 1rem;
}

.result{
  width: 400px;
  height: 400px;
  margin-right:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
 .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }



 .qr {
   width: 350px;
   height: 350px;
   margin-left: 1rem;
 }

 .result {
   width: 300px;
   height: 300px;
   margin-right: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .link{
   cursor: pointer;
 }
}