.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.showscanner{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hiddescanner{
  display: none;
 
}

.showresult{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.hidderesult{
  display: none;
}

.qr{
  width: 800px;
}

.tag{
  flex: 1;
}

.button{
  width: 18vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.103);
  border: 1px solid white;
  border-radius:5px;
  margin: 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.205);

}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.address{
  color: white;
  margin: 2rem;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .showresult{
    width: 100vw;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #155799, #159957);
}

 .button{
  width: 50vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.103);
  border: 1px solid white;
  border-radius:5px;
  margin: 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.205);

}

.qr {
  width: 300px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.address {
  color: white;
  padding-top: 2.5rem;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  font-style: italic;
}
}